@page "/AdminHomePage"
@using Microsoft.AspNetCore.Components.Authorization
@using Bismillah.Shared
@inject AuthenticationStateProvider authstate
@inject HttpClient http
@inject IJSRuntime jsr
@inject NavigationManager Navigation
@inject NavigationManager NavigationManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        /* Reset CSS */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /* Global styles */
        body {
            font-family: 'Segoe UI', sans-serif;
            font-size: 16px;
            line-height: 1.5;
            color: #333;
            background-color: #f8f8f8;
        }

        a {
            color: #007bff;
            text-decoration: none;
        }

            a:hover {
                text-decoration: underline;
            }

        ul {
            list-style: none;
        }

        /* Header */
        header {
            background-color: #fff;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        }

        .header-container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
            display: flex;
            justify-content: space-between;
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }

        caption {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 0.5rem;
        }

        th {
            background-color: #0062cc;
            color: white;
            text-align: left;
        }

        td:first-child {
            font-weight: bold;
            width: 30%;
        }

        td:last-child {
            text-align: right;
        }
    </style>
</head>
<body>
    <section class="hero">
        <div class="hero-container">
            <h2>Welcome Back @FirstName @LastName!</h2>
            <p>Explore your Attendance, view your grades, manage your assignments with the all new FLEX Portal.</p>

        </div>
    </section>

    <table>

        <tbody>
            <tr>
                <th colspan="2">Personal Information</th>
            </tr>
            <tr>
                <td>Name:</td>
                <td>@FirstName @LastName</td>
            </tr>

            <tr>
                <td>CNIC:</td>
                <td>34402-0883602-5</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>@Email</td>
            </tr>
            <tr>
                <td>Date of Birth:</td>
                <td>14-08-1991</td>
            </tr>

            <tr>
                <th colspan="2">University Information</th>
            </tr>
            <tr>
                <td>Admin ID:</td>
                <td>@currentUserName</td>
            </tr>
           

            <tr>
                <td>Campus:</td>
                <td>Islamabad</td>
            </tr>
       
            <tr>

                <th colspan="2">Contact Information</th>
            </tr>

            <tr>
                <td>Phone Number:</td>
                <td>0300-3191929</td>
            </tr>
            <tr>
                <td>Parent Phone Number:</td>
                <td>0900-78601</td>

            </tr>
        </tbody>
    </table>

    <br />

    <footer>
        <div class="footer-container">
            <p>&copy; 2023 Student Portal. All rights reserved.</p>
        </div>
    </footer>

</body>
</html>


@code{
    string currentUserName;
    List<LoginModelAdmin> NameData = new List<LoginModelAdmin>();
    string Email;
    public string FirstName { get; set; }
    public string LastName { get; set; }
    string fileContent;
    protected async override Task OnInitializedAsync()
    {
        ApiRequest.http = http;
        ApiRequest.jsr = jsr;
        var authstates = await authstate.GetAuthenticationStateAsync();
        currentUserName = authstates.User.Identity.Name;
        NameData = await http.GetFromJsonAsync<List<LoginModelAdmin>>($"api/Auth/Admin/{currentUserName}");
        FirstName = NameData.ToList()[0].First_name;
        LastName = NameData.ToList()[0].Last_name;
        Email += FirstName;
        Email += LastName;
        Email += "@nu.edu.pk";

        fileContent = await jsr.InvokeAsync<string>("readFromFile", "hello.txt");
        //Console.WriteLine(fileContent);


    }


}